{% extends "layout.html" %}
  {% block content %}
  <script>
    var keys = {{ python_data|tojson }};
  </script>
    <h1> Showing EC2 snapshot</h1>


    <div class="row">
      <div class="column">
        <center>  <button onclick = "create_snapShot(keys)"> create Snapshot</button></center>

      <header class = "previous", id = "pending_EC2_info"> EC2 snapshot</header>
      </div>

      <div class="column">
        <center>  <button onclick = "check_snapShot(keys)"> check Snapshot</button></center>
        <script>
        </script>
      <header class = , id = "success_EC2_info"> EC2 completion</header>
      </div>



    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.462.0.min.js"></script>

    <script src="{{ url_for('static', filename='snapshot_veeeeeeee.js') }}"></script>
{% endblock content%}
